@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

:root {
  --white: #fff;
  --black: #080c13;
  --navy-blue: #18273c;
  --navy-blue2: #353b5d;
  --light-purple: #8083a6;
  --light-blue: #e9ebf5;
  --light-blue2: #e0f2f9;
  --dark-green: #085b51;
  --green: #0e8173;
  --green-onhover: #0c9a88;
  --light-green: #e2fff9;
  --light-green-active: #afe9dd;
  --aqua-green: #56d0b8;
  --dark-gray: #667589;
  --light-gray: #f1f7fd;
  --dark-orange: #dc7404;
  --dark-orange-onhover: #e08624;
  --dark-orange-active: #c36704;
  --light-orange: #fdcf70;
  --light-orange2: #fdeee0;
  --beige: #fff4dd;
  --topbar-height: 50px;
}

body,
html {
  margin: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navigation {
  position: sticky;
  display: flex;
  flex-wrap: wrap;

  & .top-bar {
    height: var(--topbar-height);
    background-color: var(--navy-blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    width: 100%;

    & > a {
      display: flex;
      height: 100%;
      align-items: center;
      color: var(--white);

      & > svg {
        height: 70%;
        width: auto;
        fill: var(--white);

        & path {
          fill: var(--white);
        }
      }
    }
  }

  & .side-bar {
    width: 300px;
    background-color: var(--light-gray);
    height: calc(100vh - 120px);
    padding: 25px;
    display: flex;
    flex-direction: column;

    & .menu-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      & span {
        display: flex;
        align-items: center;
        justify-content: center;

        &.text {
          color: var(--navy-blue);
          transition: 0.5s;

          &:hover {
            color: var(--green);
          }
        }

        &.arrow {
          transition: 0.5s;
          transform: rotate(-90deg);
        }
      }

      &.active {
        & span {
          &.text {
            color: var(--aqua-green);
            text-decoration: underline;
          }
          &.arrow {
            transform: rotate(0deg);
          }
        }
      }
    }

    & ul {
      list-style: none;
      max-height: 0px;
      height: 100%;
      overflow: hidden;
      transition: 0.5s;

      & a {
        color: var(--green);
        transition: 0.5s;

        &.active {
          color: var(--navy-blue);
          text-decoration: underline;
        }

        &:hover {
          color: var(--aqua-green);
        }
      }

      &.active {
        max-height: 500px;
      }
    }
  }

  & .content {
    width: calc(100vw - 475px);
    padding: 50px;
  }
}
