@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
  --white: #fff;
  --black: #080c13;
  --navy-blue: #18273c;
  --navy-blue2: #353b5d;
  --light-purple: #8083a6;
  --light-blue: #e9ebf5;
  --light-blue2: #e0f2f9;
  --dark-green: #085b51;
  --green: #0e8173;
  --green-onhover: #0c9a88;
  --light-green: #e2fff9;
  --light-green-active: #afe9dd;
  --aqua-green: #56d0b8;
  --dark-gray: #667589;
  --light-gray: #f1f7fd;
  --dark-orange: #dc7404;
  --dark-orange-onhover: #e08624;
  --dark-orange-active: #c36704;
  --light-orange: #fdcf70;
  --light-orange2: #fdeee0;
  --beige: #fff4dd;
  --topbar-height: 50px;
}

body,
html {
  margin: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navigation {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
}

.navigation .top-bar {
  height: var(--topbar-height);
  background-color: var(--navy-blue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  width: 100%;
}

.navigation .top-bar > a {
  display: flex;
  height: 100%;
  align-items: center;
  color: var(--white);
}

.navigation .top-bar > a > svg {
  height: 70%;
  width: auto;
  fill: var(--white);
}

.navigation .top-bar > a > svg path {
  fill: var(--white);
}

.navigation .side-bar {
  width: 300px;
  background-color: var(--light-gray);
  height: calc(100vh - 120px);
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.navigation .side-bar .menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.navigation .side-bar .menu-item span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .side-bar .menu-item span.text {
  color: var(--navy-blue);
  transition: 0.5s;
}

.navigation .side-bar .menu-item span.text:hover {
  color: var(--green);
}

.navigation .side-bar .menu-item span.arrow {
  transition: 0.5s;
  transform: rotate(-90deg);
}

.navigation .side-bar .menu-item.active span.text {
  color: var(--aqua-green);
  text-decoration: underline;
}

.navigation .side-bar .menu-item.active span.arrow {
  transform: rotate(0deg);
}

.navigation .side-bar ul {
  list-style: none;
  max-height: 0px;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.navigation .side-bar ul a {
  color: var(--green);
  transition: 0.5s;
}

.navigation .side-bar ul a.active {
  color: var(--navy-blue);
  text-decoration: underline;
}

.navigation .side-bar ul a:hover {
  color: var(--aqua-green);
}

.navigation .side-bar ul.active {
  max-height: 500px;
}

.navigation .content {
  width: calc(100vw - 475px);
  padding: 50px;
}
